@charset "utf-8";
/* CSS Document */


:root {
	--uclablue: #2774AE;
	--darkerblue: #005587;
	--lighterblue: #8BB8E8;
	--uclagold: #FFD100;
	--darkergold: #FFC72C;
	--darkestgold: #FFB81C;
	
	
	--pennblue: #011F5B;
	--pennred: #990000;
	--pennpurple: #4A0042;
	--pennlightblue: #82AFD3;
	--pennwhite: #F2F2F2;
	--pennwhiter: #F7F7F7;
}

a {
	text-decoration: none;
	color: var(--pennblue);
}

a:visited {
	text-decoration: none;
	color: var(--pennpurple);
}

a:hover {
	color:var(--pennlightblue);
	cursor:pointer;
}

body {
	font-size:16pt;
}

#myname {
	text-align: center;
	padding-bottom:0px;
	font-size:24px;
	line-height: 0px;
}

#nav {
	background-color:var(--pennblue);
}

#nav ul{
	list-style:none;
	text-align: center;

}

#nav ul li{
	display:inline-block;	
}

#nav ul li a{
	color:var(--pennwhite);
	font-weight:bold;
	line-height:30px;
	font-size:18px;
	padding:0px 15px;
}

#nav ul li a:hover{
	color:var(--pennwhiter);
}

hr {
	background-color:var(--pennred);
	width: 100%;
	height: 2px;
	border: none;
}

#widthcontrol {
width:800px;
max-width:95%;
margin: 3px auto;
overflow: hidden;
}

h1 {
	color:var(--pennblue);
	font-weight:normal;
}
h2 {
	color:var(--pennblue);
	font-weight:normal;
	font-size:16pt;
}

#photo {
	width:300px;
	max-width:50%;
	float:left;
	padding-right:15px;
	position:relative;
}
img{
	width:100%;
}

#sec{
	padding:10px 0px;
	overflow:auto;
	font-size:12pt;
}

#sec ul{
	padding-left 20px;
}