:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --pennblue: #011F5B;
	--pennred: #990000;
	--pennpurple: #4A0042;
	--pennlightblue: #82AFD3;
	--pennwhite: #F2F2F2;
	--pennwhiter: #F7F7F7;
    --pennyellow: #F2C100;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: var(--pennblue);
    --secondary: rgb(108, 108, 108);
    --tertiary: var(--pennred);
    --quaternary: var(--secondary);
    --content: rgb(30, 30, 30);
    --headercolor: var(--pennwhite);
    --headertextcolor: var(--pennblue);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: var(--pennwhite);
    --border: rgb(238, 238, 238);
    --darkcolor: var(--pennblue);
    --lightcolor: var(--pennlightblue);
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
    --linkcolor: var(--darkcolor);
    --bg: var(--theme);
}

.dark {
    --theme: var(--pennblue);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: var(--pennred);
    --content: var(--pennwhite);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --linkcolor: var(--lightcolor);
}