{{- if .Pages -}}
    <hr>
    <strong><a href="{{ .Permalink }}">{{- .Title}}</a></strong>
    {{ if .Page.Params.slides }}
        {{ (print .Page.Url .Page.Params.slides) }}
        {{ with (.Site.GetPage (print . .Page.Params.slides)) }}
            page found
            {{ with .Page.Resources.GetMatch "*.pdf" }}
                [<a href ={{ print .Permalink }}>slides</a>]
            {{ end }}
        {{ end }} 
    {{ end }}
    {{ range $i, $e := .Pages }}
        {{ if $i }}<li>{{ end }}
            {{ .Render "summary" }}
        {{ if $i }}</li>{{ end }}
    {{ end }}
{{- else -}}
    <p>{{ if .Params.link }}
        <a href="{{ .Params.link }}">{{- .Title}}</a>
    {{ else }}
    {{- .Title}}
    {{ end }}</p>

    {{ .Page.Params.Location }}, {{ .Page.Date.Format "January 2, 2006" }}
    {{ with .Page.Resources.GetMatch "*.pdf" }} [<a href ={{ print .Permalink }}>slides</a>] {{ end }} 
{{- end -}}